.navbar{
    margin-bottom: 0;
    border-radius: 0;
    background-color: #5E4485;
    color: #FFF;
    border: 0;
    font-size: 1.2em;
    padding: 1% 0;
}
.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:active,
.navbar-inverse .navbar-nav .active a:focus{
    color: #FFf;
    background-color: #5E4485;
}
.navbar-inverse .navbar-nav li a {
    color: #d5d5d5;
}
.carousel-caption{
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
}
.carousel-caption h1{
    font-size: 50px;
}
.btn{
    font-size: 18px;
    padding: 12px 22px;
    background: #5E4485;
    color: #FFf;
    border: 2px solid white; 
}
@media(max-width: 600px){
    .carousel-caption {
        display: none;
    }
    #icon{
        max-width: 150px;
    }
}
#icon{
    max-width: 300px;
    margin: 1% auto;
}
.container {
    margin: 4% auto;
}